/*Seleciona todos os elementos*/
*{ 
    box-sizing: border-box;
    font-size: 16px;
}
.brand-logo{
    width: 8rem;

    
}
.header--dashboard {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 5rem;
    width: 100%;
}

    .header--dashboard__logo{
        align-items: center;
        display: flex;
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 0 2rem;
        width: 100%;
    }
    .header--dashboard__search{
        align-items: center;
        display: flex;
        grid-column-start:2;
        grid-row-start: 1;


    }
        .header--dashboard__search-icon-container{
            align-items: center;
            display: flex;

        }
            .header--dashboard__search-icon{
                margin-left:1rem ;
                position: absolute;
                
            }
        .header--dashboard__input-search{
            background-color: #e3e3e3;
            border:none ; 
            border-radius:8px;
            box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
            height: 3rem;
            padding: 0 3rem ;
            width: 80%;
            
        
        }
    .header--dashboard__menu{
        align-items: center;
        display: flex;
        grid-column-start: 3 ;
        grid-row-start: 1 ;
        padding-right: 3rem;
        position: relative;
        width: 100%;

    }
        .header--dashboard__menu-wrapper{
            align-items: center;
            display: flex;
            justify-content: flex-end;
            position: relative; /*O pai deve ser relativo para que os outros absolutos sejam relativos a ele*/
            width: 100%;
            
        }

            .header--dashboard__menu-button{
                background-color: #ffff;
                border: none;
                cursor:pointer;
                font-weight: bold;
                height: 3rem;
                padding: 0;
                width: 6rem;


            }
            .header--dashboard__menu-button + i { /* seleção de irmão. ">" seleção de filho*/
                background-image:  url("./arow-down.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 2rem;
                margin-right: 1rem; ;
                width: 2rem;

                
               

            }

            .header--dashboard__menu-content::before{
                background-color: #e3e3e3;
                content: '';
                height: 1rem;
                left: 45%;
                top: -0.5rem;
                transform: rotate(45deg); /*vira o bagulhinho*/
                position: absolute;
                width: 1rem;

            }
            .header--dashboard__menu-content{
                background-color: #e3e3e3;
                border-radius: 8px;
                cursor: pointer;
                display: none;
                height: 6rem;
                left: 4rem;
                padding: 1rem;
                position: absolute;
                top: 48px;
                width: 10rem;
                left: 0;
                z-index: 1;

            }
            .header--dashboard__menu-wrapper:hover .header--dashboard__menu-content {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
                display: block;


            }

            .header--dashboard__avatar-photo {
                width: 3rem;
                height: 3rem;
                border-radius: 100%;
            }
    .navigation-menu {
        height: 100vh; /*pega todo o tamanho da altura da view*/
        width: 25%;

    }
        .navigation-menu__title {
            align-items: center;
            display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            height: 4rem;
            margin-left: 2rem;
            width: 100%;
        }
        .navigation-menu__list {
            height: 100%;
            width: 100%;

        }
            .navigation-menu__item {
                display: grid;
                grid-template-columns: 30% 70%;
                margin-bottom: 1rem;


            }

                .navigation-menu__album-image {
                    border-radius: .5rem;
                    height: 4rem;
                    grid-column-start: 1;
                    grid-row-start: 1;
                    margin-left: 2rem;

                }
                .navigation-menu__album-info {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    margin-left: 1rem;
                }
                    .navigation-menu__album-name{
                        font-weight: bold;
                    }
                    .navigation-menu__album-artist,
                    .navigation-menu__album-release {
                        font-size: .75rem ;
                        margin-top: .25rem ;
                    }

